<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>To-Do APP</title>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
            <p class="py-3 font-bold bg-blend-darken">Welcome to the To-Do Manager</p>
            <p class="py-3 font-semibold">New here? <a href="/signup" class="text-green-600 italic">Sign-up 🚩</a></p>
            <p class="py-3 font-semibold">Already have an account? <a href="/login" class="text-green-600 italic">Sign-in 🚩</a></p>
        </div>
    </div>
    <%- include('footer.ejs') %>
</body>
</html>
